---
import Layout from '../layouts/Layout.astro';
import Body from '../components/Body.astro';
import Productos from '../components/Productos.astro';
---

<Layout title="DAIT Import">
	
	<main class="w-full">	
		<Body></Body>
		<Productos></Productos>
	</main>
</Layout>

