---
import slider from "../assets/slider.png";
---
<section class="flex w-full bg-[#000] justify-center text-[#fff] items-center gap-4">
    <div class="w-[30%]">
        <h2 class="text-6xl font-bold">Concentrador de Oxígeno</h2>
    </div>
    <div class="w-[25%]">
        <img src={slider.src} alt="concentrador oxigeno" class="w-full">
    </div>
    <div class="w-[30%] flex flex-col gap-14 text-right">
        <span class="text-3xl">Marca Oliva, hasta 10 litros por minuto</span>
        <div>
            <a href="" class="border border-[#282828] rounded py-2 px-12 hover:border-none hover:text-[#000] hover:bg-[#fff]">Información</a>
        </div>
    </div>
</section>