---
import slider from "../assets/sistemaImplantes.png";

---
<section class="flex flex-col lg:flex-row items-center justify-center w-full gap-6 bg-[#000] text-[#fff] px-3 my-10">
  <div class="lg:w-[40%] w-full flex flex-col justify-center items-center lg:items-start gap-7 text-center lg:text-left">
    <h2 class="text-2xl lg:text-6xl lg:w-[80%]">Sistema de Implantes</h2>
    
    <!-- Imagen se muestra después del título en móviles -->
    <div class="w-full lg:hidden">
      <img src={slider.src} alt="concentrador oxigeno" class="w-full">
    </div>

    <span class="text-base lg:text-lg lg:w-[80%]">Nuestros implantes están diseñados para garantizar resultados excepcionales en cualquier solución.</span>
    
    <a href="/productos/sistema-implantes/" class="border border-[#ff6a02] rounded py-2 px-6 lg:px-12 hover:bg-[#ff6a02]">Información</a>
  </div>

  <!-- Imagen se muestra al lado en pantallas grandes -->
  <div class="lg:w-[50%] w-full hidden lg:block">
    <img src={slider.src} alt="concentrador oxigeno" class="w-full">
  </div>
</section>
