---
import concentradorOxigeno from "../assets/Productos/concentradorOxigenoOLV-10.png";
---
<div>
    <section class="w-full grid grid-cols-2">
        <div class="bg-[#181818]">
            <img src={concentradorOxigeno.src} alt="">
        </div>
        <div class="w-full flex justify-center bg-[#000]">
            <div class="w-[70%] flex flex-col justify-center gap-6 text-right">
                <h3 class="text-4xl text-[#fff] ">Concentrador de Oxígeno</h3>
                <p class="text-[#B6B6B6] ">Concentrador de  Oxígeno marca Oliva, 10 litros por minuto, despacho a Lima y Provincia</p>
                <div class="">
                    <a href="" class="bg-[#fff] text-[#000] py-3 px-9 rounded-full">More Info</a>
                </div>
            </div>
        </div>
    </section>
    <section class="w-full flex flex-row">
        <div class="w-[50%] flex flex-col bg-[#000] text-[#fff] text-left">
            <h3>Concentrador de Oxígeno</h3>
            <p>Concentrador de  Oxígeno marca Oliva, 10 litros por minuto, despacho a Lima y Provincia</p>
            <div>
                <a href="">More Info</a>
            </div>
        </div>
        <div class="w-[50%] bg-[#181818]">
            <img src={concentradorOxigeno.src} alt="">
        </div>
    </section>
    <section class="w-full flex flex-row">
        <div class="w-[50%] bg-[#181818]">
            <img src={concentradorOxigeno.src} alt="">
        </div>
        <div class="w-[50%] flex flex-col bg-[#000] text-[#fff] text-right">
            <h3>Concentrador de Oxígeno</h3>
            <p>Concentrador de  Oxígeno marca Oliva, 10 litros por minuto, despacho a Lima y Provincia</p>
            <div>
                <a href="">More Info</a>
            </div>
        </div>
    </section>
    <section class="w-full flex flex-row">
        <div class="w-[50%] flex flex-col bg-[#000] text-[#fff] text-left">
            <h3>Concentrador de Oxígeno</h3>
            <p>Concentrador de  Oxígeno marca Oliva, 10 litros por minuto, despacho a Lima y Provincia</p>
            <div>
                <a href="">More Info</a>
            </div>
        </div>
        <div class="w-[50%] bg-[#181818]">
            <img src={concentradorOxigeno.src} alt="">
        </div>
    </section>
</div>