---
import Layout from "../../../layouts/Layout.astro";
import p5dM from "../../../assets/Productos/implantes/P5D_matrix.png"
---
<Layout title="Implante P5D - Sistema de Implantes">
    <section class="w-full flex flex-col justify-center items-center">
        <div class="flex justify-center items-center gap-4">
            <div class="w-[45%]">
                <img src={p5dM.src} alt="">
            </div>
            <div class="text-[#fff] w-[30%]">
                <h3>EN PROCESO</h3>
            </div>
        </div>
    </section>
</Layout>